<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Sijilli</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sijilli</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSContactsUsageDescription</key>
	<string>نحتاج للوصول لجهات الاتصال لتتمكن من دعوة أصدقائك للمواعيد بسهولة. We need access to your contacts to allow you to invite friends to appointments easily.</string>
	<key>NSCameraUsageDescription</key>
	<string>نحتاج للوصول للكاميرا لتتمكن من التقاط صورة شخصية وتخصيص ملفك الشخصي. We need access to the camera to take profile photos and customize your profile.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>نحتاج للوصول لمكتبة الصور لتتمكن من اختيار وحفظ صور المواعيد والملف الشخصي. We need access to your photo library to select and save appointment and profile photos.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>نحتاج للوصول لموقعك الجغرافي لتحديد مكان المواعيد بدقة وتسهيل الوصول إليها. We need location access to determine appointment locations precisely and facilitate navigation.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>نحتاج للوصول لموقعك الجغرافي لتحديد مكان المواعيد بدقة وتسهيل الوصول إليها. We need location access to determine appointment locations precisely and facilitate navigation.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>نحتاج للوصول لموقعك الجغرافي لتحديد مكان المواعيد بدقة وتسهيل الوصول إليها. We need location access to determine appointment locations precisely and facilitate navigation.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>نحتاج للوصول للميكروفون لتتمكن من إملاء تفاصيل ووصف الموعد صوتياً. We need microphone access to allow you to dictate appointment details and description via voice input.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>نحتاج للوصول للتقويم لمزامنة مواعيدك في "سجلي" مع تقويم جهازك وتذكيرك بها. We need calendar access to sync your Sijilli appointments with your device calendar and remind you of them.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
</dict>
</plist>
